.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: lightslategray;
  color: white;
}

.header .logo{
  font-size: 20px;
  font-weight: 700;
}

.header .login a{
  color :aliceblue;
  font-size: large;
  text-decoration: none;
}

.posts {
  display: flex;
}